In [1]:
import sys
sys.path.insert(0, '..')
from utils.cargar import df_caso

caso = 'adela'
df = df_caso(caso,chat=True,verbose=True)
df.head()

Secciones encontradas:
	 2021.CD2201.09.chat.csv
	 2021.CD2201.10.chat.csv
	 2021.CD2201.02.chat.csv
	 2021.CD2201.06.chat.csv
	 2021.CD2201.01.chat.csv
	 2021.CD2201.05.chat.csv
	 2021.CD2201.07.chat.csv
	 2022.CD1201.01.chat.csv
	 2022.CD1201.10.chat.csv
	 2022.CD1201.03.chat.csv
	 2022.CD1201.05.chat.csv
	 2023.CD1100.09.chat.csv
	 2023.CD1100.05.chat.csv
	 2023.CD1100.04.chat.csv
	 2023.CD1100.08.chat.csv
	 2023.CD1100.03.chat.csv
	 2023.CD1100.10.chat.csv
	 2023.CD1100.02.chat.csv
	 2023.CD1100.07.chat.csv
	 2023.CD1100.06.chat.csv

,user_id,team_id,gender,df,title,opt_left,opt_right,message,phase,time,reply_to,curso,seccion
id,,,,,,,,,,,,,
55568,4433,2415.0,F,1,[Proporcione argumentos para justificar su res...,Producir el alimento contra déficit vitamínico,Resguardar las tradiciones identitarias,hola,3,2021-12-01T00:15:26.928Z,NaN,2021.CD2201,9
55569,4435,2416.0,M,1,[Proporcione argumentos para justificar su res...,Producir el alimento contra déficit vitamínico,Resguardar las tradiciones identitarias,Hola,3,2021-12-01T00:15:27.413Z,NaN,2021.CD2201,9
55570,4424,2416.0,M,1,[Proporcione argumentos para justificar su res...,Producir el alimento contra déficit vitamínico,Resguardar las tradiciones identitarias,hola grupo,3,2021-12-01T00:15:29.963Z,NaN,2021.CD2201,9
55571,4419,2413.0,F,1,[Proporcione argumentos para justificar su res...,Producir el alimento contra déficit vitamínico,Resguardar las tradiciones identitarias,alo,3,2021-12-01T00:15:37.360Z,NaN,2021.CD2201,9
55572,4434,2412.0,F,1,[Proporcione argumentos para justificar su res...,Producir el alimento contra déficit vitamínico,Resguardar las tradiciones identitarias,holaa,3,2021-12-01T00:15:37.449Z,NaN,2021.CD2201,9

In [2]:
df['phase'].value_counts()

phase
3    11766
2     6820
4     2073
5      491
Name: count, dtype: int64

In [3]:
df.to_csv("datos_EthicApp/MDS7201/{}_chat.csv".format(caso))

---
Alicia

In [4]:
caso = 'alicia'
df = df_caso(caso,chat=True,verbose=True)
df.head()

Secciones encontradas:
	 2021.CD1201.09.chat.csv
	 2021.CD1201.05.chat.csv
	 2021.CD1201.04.chat.csv
	 2021.CD1201.06.chat.csv
	 2021.CD1201.07.chat.csv
	 2021.CD1201.03.chat.csv
	 2021.CD1201.08.chat.csv
	 2021.CD1100.02.chat.csv

,user_id,team_id,gender,df,title,opt_left,opt_right,message,phase,time,reply_to,curso,seccion
id,,,,,,,,,,,,,
45350,2626,2072.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Los criterios técnicos del proyecto y de los u...,Los plazos acordados del proyecto,hola,3,2021-11-03T21:32:40.436Z,NaN,2021.CD1201,9
45351,2888,2077.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Los criterios técnicos del proyecto y de los u...,Los plazos acordados del proyecto,Hola,3,2021-11-03T21:32:43.870Z,NaN,2021.CD1201,9
45352,2888,2077.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Los criterios técnicos del proyecto y de los u...,Los plazos acordados del proyecto,uwu,3,2021-11-03T21:32:44.883Z,NaN,2021.CD1201,9
45353,2551,2076.0,M,1,"[Acordar entre todas/os la respuesta, discutie...",Los criterios técnicos del proyecto y de los u...,Los plazos acordados del proyecto,Hola genteeeeeeeeee,3,2021-11-03T21:32:46.716Z,NaN,2021.CD1201,9
45354,2653,2082.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Los criterios técnicos del proyecto y de los u...,Los plazos acordados del proyecto,holaa,3,2021-11-03T21:32:47.532Z,NaN,2021.CD1201,9

In [5]:
df['phase'].value_counts()

phase
3    6745
4    4262
5     662
Name: count, dtype: int64

In [6]:
df.to_csv("datos_EthicApp/MDS7201/{}_chat.csv".format(caso))

---
Julieta

In [7]:
caso = 'julieta'
df = df_caso(caso,chat=True,verbose=True)
df.head()

Secciones encontradas:
	 2021.CD1100.04.chat.csv
	 2021.CD1100.08.chat.csv
	 2021.CD1100.06.chat.csv
	 2021.CD1100.07.chat.csv
	 2021.CD1100.03.chat.csv
	 2021.CD1100.09.chat.csv
	 2021.CD1100.01.chat.csv
	 2021.CD1100.02.chat.csv

,user_id,team_id,gender,df,title,opt_left,opt_right,message,phase,time,reply_to,curso,seccion
id,,,,,,,,,,,,,
25846,2953,1624.0,M,1,"[Acordar entre todas/os la respuesta, discutie...",Usar la información del grupo de WhatsApp,No usar la información del grupo de WhatsApp,hola,4,2021-05-26T17:29:51.667Z,NaN,2021.CD1100,4
25849,2926,1612.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Usar la información del grupo de WhatsApp,No usar la información del grupo de WhatsApp,hola,4,2021-05-26T17:29:53.374Z,NaN,2021.CD1100,4
25850,2787,1642.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Usar la información del grupo de WhatsApp,No usar la información del grupo de WhatsApp,holaa equipoo,4,2021-05-26T17:29:53.453Z,NaN,2021.CD1100,4
25853,3171,1640.0,M,1,"[Acordar entre todas/os la respuesta, discutie...",Usar la información del grupo de WhatsApp,No usar la información del grupo de WhatsApp,Holaaaaaaa,4,2021-05-26T17:29:55.042Z,NaN,2021.CD1100,4
25858,2790,1642.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Usar la información del grupo de WhatsApp,No usar la información del grupo de WhatsApp,holi?,4,2021-05-26T17:29:56.538Z,NaN,2021.CD1100,4

In [8]:
df['phase'].value_counts()

phase
4    10225
5     2981
Name: count, dtype: int64

In [9]:
df.to_csv("datos_EthicApp/MDS7201/{}_chat.csv".format(caso))

---
Laura

In [10]:
caso = 'laura'
df = df_caso(caso,chat=True,verbose=True)
df.head()

Secciones encontradas:
	 2020.CD2201.10.chat.csv
	 2020.CD2201.04.chat.csv
	 2020.CD2201.01.chat.csv
	 2020.CD2201.07.chat.csv
	 2020.CD2201.09.chat.csv
	 2020.CD2201.06.chat.csv

,user_id,team_id,gender,df,title,opt_left,opt_right,message,phase,time,reply_to,curso,seccion
id,,,,,,,,,,,,,
9269,1900,1065.0,M,1,Es adecuado que Laura le dedique paulatinament...,Ajustar dedicación,Mantener dedicación,holi,4,2020-10-09T21:21:12.898Z,NaN,2020.CD2201,10
9270,1885,1065.0,M,1,Es adecuado que Laura le dedique paulatinament...,Ajustar dedicación,Mantener dedicación,holi,4,2020-10-09T21:21:19.071Z,NaN,2020.CD2201,10
9271,1893,1065.0,M,1,Es adecuado que Laura le dedique paulatinament...,Ajustar dedicación,Mantener dedicación,holi,4,2020-10-09T21:21:19.423Z,NaN,2020.CD2201,10
9272,1890,1065.0,M,1,Es adecuado que Laura le dedique paulatinament...,Ajustar dedicación,Mantener dedicación,hola,4,2020-10-09T21:21:22.877Z,NaN,2020.CD2201,10
9273,1885,1065.0,M,1,Es adecuado que Laura le dedique paulatinament...,Ajustar dedicación,Mantener dedicación,cuantos somos?,4,2020-10-09T21:21:25.401Z,NaN,2020.CD2201,10

In [11]:
df['phase'].value_counts()

phase
3    2467
4     394
Name: count, dtype: int64

In [12]:
df.to_csv("datos_EthicApp/MDS7201/{}_chat.csv".format(caso))

---

In [1]:
import sys
sys.path.insert(0, '..')
from utils.cargar import df_caso

caso = 'amanda'
df = df_caso(caso,chat=True,verbose=True)
df.head()

Secciones encontradas:
	 2023.CD1201.09.chat.csv
	 2023.CD1201.08.chat.csv
	 2023.CD1201.04.chat.csv
	 2023.CD1201.03.chat.csv
	 2023.CD1201.05.chat.csv
	 2023.CD1201.07.chat.csv
	 2023.CD1201.02.chat.csv

,user_id,team_id,gender,df,title,opt_left,opt_right,message,phase,time,reply_to,curso,seccion
id,,,,,,,,,,,,,
97488,9857,4076.0,M,1,"[Acordar entre todas/os la respuesta, discutie...",Algoritmo X: menor error detectando la enferme...,Algoritmo Y: mayor error detectando la enferme...,hols,2,2023-11-13T21:21:24.178Z,NaN,2023.CD1201,9
97489,9852,4079.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Algoritmo X: menor error detectando la enferme...,Algoritmo Y: mayor error detectando la enferme...,HOLA,2,2023-11-13T21:21:28.256Z,NaN,2023.CD1201,9
97490,9856,4073.0,F,1,"[Acordar entre todas/os la respuesta, discutie...",Algoritmo X: menor error detectando la enferme...,Algoritmo Y: mayor error detectando la enferme...,a,2,2023-11-13T21:21:28.675Z,NaN,2023.CD1201,9
97491,9857,4076.0,M,1,"[Acordar entre todas/os la respuesta, discutie...",Algoritmo X: menor error detectando la enferme...,Algoritmo Y: mayor error detectando la enferme...,cs,2,2023-11-13T21:21:30.553Z,NaN,2023.CD1201,9
97492,9850,4073.0,M,1,"[Acordar entre todas/os la respuesta, discutie...",Algoritmo X: menor error detectando la enferme...,Algoritmo Y: mayor error detectando la enferme...,hola,2,2023-11-13T21:21:31.076Z,NaN,2023.CD1201,9

In [2]:
df['phase'].value_counts()

phase
2    4824
3    2068
Name: count, dtype: int64

In [3]:
df.to_csv("datos_EthicApp/MDS7201/{}_chat.csv".format(caso))